<div class="col-md-4 mb-4">
    <div class="card">
        <img class="w-50 align-self-center" src="{{ asset('images/song/song.jpg') }}" alt="{{ song.title }} ">
        <div class="card-body">
            <h5 class="card-title text-muted">{{ song.title}}</h5>
            <p class="card-text"><small class="text-muted">A/C: </small>{{ song.singer.fullName }}</p>
            <p class="card-text"><small class="text-muted">Réalisé le: </small>{{ song.releaseDate|date("m/d/Y") }}</p>
        </div>    
    </div>
</div>